/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB  &kp Q  &kp W               &kp E           &kp R               &kp T             &kp Y        &kp U                &kp I            &kp O                &kp P     &none
&kp ESC  &kp A  &hm LEFT_CONTROL S  &hm LEFT_ALT D  &hm LEFT_COMMAND F  &kp G             &kp H        &hm RIGHT_COMMAND J  &hm RIGHT_ALT K  &hm RIGHT_CONTROL L  &kp SEMI  &kp SQT
&none    &kp Z  &kp X               &kp C           &kp V               &kp B             &kp N        &kp M                &kp COMMA        &kp DOT              &kp FSLH  &none
                                    &mo 2           &kp BACKSPACE       &sk LEFT_SHIFT    &lt 1 SPACE  &kp RETURN           &mo 3
            >;

            label = "alpha";
        };

        NUMPAD {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp BACKSLASH  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp UNDER      &kp PERCENT  &kp GRAVE  &trans
&trans  &kp ASTRK      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND  &kp DOLLAR   &kp AT     &kp PIPE
&trans  &kp KP_EQUAL   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp CARET      &kp POUND    &kp EXCL   &trans
                                     &trans        &trans        &trans          &trans                &trans                 &trans
            >;

            label = "numpad";
        };

        NAVIGATION {
            bindings = <
&trans  &trans          &kp UP_ARROW    &trans           &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans          &trans           &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans           &trans  &trans    &trans  &trans  &trans
            >;

            label = "nav";
        };

        MEDIA {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans      &trans  &trans        &trans        &trans        &trans          &trans  &kp C_VOLUME_DOWN  &kp K_MUTE        &kp C_VOLUME_UP  &trans  &trans
&bt BT_CLR  &trans  &bt BT_SEL 4  &trans        &trans        &trans          &trans  &kp C_PREV         &kp C_PLAY_PAUSE  &kp C_NEXT       &trans  &trans
&trans      &trans  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 0    &trans  &trans             &trans            &trans           &trans  &trans
                                  &trans        &trans        &trans          &trans  &trans             &trans
            >;

            label = "media";
        };
    };
};
